header {
    background-color: #ffffff;
    height: 75px;
}

header .left .logo {
    color: #0078aa;
}

header .user {
    font-weight: bold;
}

nav {
    background-color: #3a98b9;
    text-align: center;
    height: 50px;
}

nav ul {
    vertical-align: middle;
}

nav li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    line-height: 50px; 
    padding: 0 10px;
    border: 1px solid #eeeeee;
}

footer {
    background-color: #ffffff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}